.side-bar {
    background-color: rgb(137, 26, 202);
    position: fixed;
    left: 0;
    bottom: 0;
    top: 92px;
    width: 80px;
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: rgb(53, 53, 53);
}
.side {
    background-color: rgb(100, 15, 150);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 14px;
    color: rgb(0, 0, 0);
    width: 80px;
    height: 80px;
    border: none;
    margin-top: 3px;
}
.side:hover {
    background-color: rgb(82, 12, 122);
    cursor: pointer;
}
.signin {
    background-color: red;
    color: white;
    font-weight: bold;
    margin-top: 206px;
    width: 80px;
    height: 30px;
    border-radius: 5px;
}
.signin:hover {
    background-color: rgb(255, 65, 65);
}